.animate-repeat {
    -webkit-transform-origin: 50% 50%;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
    -webkit-transition: 400ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
    -webkit-transform: scale(0);
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
    -webkit-transform: scale(1);
}

/*[ui-view].ng-enter, [ui-view].ng-leave {
    -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
    position: relative;
}

[ui-view].ng-enter {
  opacity: 0;
  transform: translateX(-100%);
}

[ui-view].ng-enter-active {
  opacity: 1;
  transform: translateX(0);
}

[ui-view].ng-leave {
  opacity: 1;
  transform: translateX(0);

}

[ui-view].ng-leave-active {
  opacity: 0;
  transform: translateX(100%);

}*/